__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.env
*.env
.env.local
.env.*.local
.env.example
.pytest_cache/
.coverage
htmlcov/
.coverage.*
.hypothesis/
.pyre/
.pytype/
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.spyproject.*
ropeproject/
/site-packages/
.tox/
.coverage.xml
nosetests.xml
test/reports/
*.cover
*.log
.pytest_cache/
.pydevtree
.vscode/
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db