apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
  namespace: default
spec:
  type: state.postgresql
  version: v1
  metadata:
  - name: connectionString
    value: "host=postgres-db port=5432 user=postgres password=postgres dbname=todo_app sslmode=disable"
  - name: tableName
    value: "statestore"
  - name: actorStateStore
    value: "true"